{% extends "protein/protein_base.html" %}
{% load staticfiles %}

{% block addon_css %}
<link href="{% static 'home/css/sequenceviewer.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row">
    {{ p.get_snake_plot }}
    <p><div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
        <li>
            <a href="javascript:saveSvgAsPng(document.getElementById('snakeplot'), 'snake_{{ p.entry_name }}.png',
            {scale: 3});">PNG</a>
        </li>
        <li>
            <a href="javascript:saveSvgAsJpg(document.getElementById('snakeplot'), 'snake_{{ p.entry_name }}.jpg',
            {scale: 3});">JPG</a>
        </li>
        <li>
            <a href="javascript:saveSvgAsTiff(document.getElementById('snakeplot'), 'snake_{{ p.entry_name }}.tiff',
            {scale: 3});">TIFF</a>
            </a>
        </li>
        </ul>
    </div></p>
    </div>
</div>
{% endblock %}

{% block addon_js %}
<script src="{% static 'home/js/sequenceviewer.js' %}"></script>
<script src="{% static 'home/js/saveSvgAsPng.js' %}"></script>
<script src="{% static 'home/js/diagrams.js' %}"></script>
{% endblock %}
